:root {
  font-family: 'Roboto Flex', serif;
}
* {
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

/* CSS for dashboard section start from here */

/* --------------------APP BAR COMPPONENT---------------------- */
.AppBar {
  background-color: rgba(236, 244, 214, 0.5);
  height: 4.6rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

.AppBar .LeftSide {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
  font-size: 1.4rem;
}

.AppBar .LeftSide .Others .MeetLink,
.AppBar .LeftSide .Others .FileManager {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.ProjectName {
  text-decoration: none;
  color: inherit;
}

.AvatarContainer,
.Icon,
.RightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem; /* Khoảng cách giữa các avatar */
}

.board-icon-container {
  align-content: center;
}

.cus-btn {
  margin-right: 1rem;
}

/* --------------------BOARD COMPONENT---------------------- */
.Board {
  background-color: transparent;
  /* height: 50rem; */
}

/* .Board h3 {
  margin-left: 40px;
} */

.Board .Main {
  gap: 4rem;
  display: flex;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
  margin-left: 7rem;
  align-items: flex-start;
  /* cai nay fix bug loi scale height ne */
}

.css-13gravj-MuiAvatar-root {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
/* --------------------DASH BOARD COMPONENT---------------------- */
.BoardSelect {
  margin-left: 4rem;
  border: solid black 0.1rem;
}

/* --------------------COLUMN COMPONENT---------------------- */

.Column {
  background-color: rgba(154, 208, 194, 0.1);
  border-radius: 2rem;
  width: 22.8rem;
  min-width: 22.8rem;
  padding: 1.5rem;
  /* min-height: 200px; */
}

.Column .Top .Title {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px black solid; */
}

.Column .Top .Main {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  gap: 11px;
  overflow: auto;
  /* flex-grow: 1; not this one */
}

.MuiStack-root .css-1irks5c-MuiStack-root {
  box-shadow: none;
}

/* .Task {
  border: black solid 1px;
  min-height: 5rem;
} */
/* --------------------POP UP COMPONENT---------------------- */

.PopUp {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.popup-inner {
  position: relative;
  /* padding: 20rem; */
}

/* description */
.css-7ctihp-MuiTypography-root {
  overflow-wrap: anywhere;
  padding-right: 2rem;
  max-height: 6rem;
  overflow-y: auto;
  width: 50rem;
  font-size: 1.2rem !important;
}

.css-pl8gqh-MuiStack-root {
  margin-top: 1rem;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.8rem 0.8rem !important;
}
/* --------------------FILE COMPONENT---------------------- */

.File {
  width: 20.1rem;
  height: 24.8rem;
  background-color: rgba(154, 208, 194, 0.3);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FileManager {
  background-color: transparent;
  margin-top: 2rem;
}

.FileManager .Files {
  margin-left: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.FileManager .Title {
  margin-left: 4rem;
}

/* --------------------MAIN---------------------- */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  flex: 1;
  background-color: rgba(154, 208, 194, 0.05);
  height: 65rem;
  /* opacity: 0.05; */
}

.main .filemanager {
  background-color: transparent;
}

/* -----------------JOIN IN ------------------ */
.task-join-in {
  z-index: 1;
  position: absolute;
  left: -6rem;
  top: 100%;
  background-color: white;
  border: 0.2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.task-join-in input {
  border: 0.2px solid black;
  border-radius: 0.4rem;
  margin: 1rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.task-join-in button {
  margin-bottom: 1rem;
}

.task-join-in .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.task-join-in .container .member-list .mem-css {
  font-size: 1.4rem;
  color: #2d9596;
}

.task-join-in .container .member-list p {
  font-size: 1.2rem;
  border: 0.1px #2d9596 solid;
  padding-left: 1rem;
  margin-bottom: 0.01rem;
  cursor: pointer;
}

.cus-btn {
  background-color: #2d9596;
  border: 0.2px solid black;
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  text-align: center;
}

.cus-btn:hover {
  cursor: pointer;
}

.task-join-in .member-list {
  height: 10rem;
}

.css-pih5lo-MuiAvatar-root {
  width: 2.4rem !important;
  height: 2.4rem !important;
}
/* -----------------COMMENTS-------------- */
.comment {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 35rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.discuss-area {
  gap: 1rem;
  max-height: 20rem;
  width: 50rem;
  overflow-y: auto;
}

.cmt-username {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.MuiStack-root.css-1k0k4vv-MuiStack-root {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1.8rem;
}

.MuiFormControl-root.MuiTextField-root {
  flex-grow: 1;
}

.MuiInputBase-input {
  font-size: 1rem;
  color: #333;
}

.MuiSvgIcon-fontSizeMedium {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #2d9596;
}

.comment p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  word-wrap: break-word;
}

.comment span {
  display: inline-block;
  max-width: calc(100% - 50px);
}

/* ---------------TASK OPEN----------------- */
label {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Roboto Flex';
}
